<ion-header mode="md" no-border translucent="true">
  <ion-toolbar mode="md" class="fondo">
    <ion-title (click)="presentAlert()" color="light">
      SUBNET CALCULATOR PRO</ion-title
    >
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="s">
      <ion-segment-button value="s" routerLink="/home" routerDirection="root">
        <ion-label>Subnet</ion-label>
      </ion-segment-button>
      <ion-segment-button value="v" routerLink="/lista" routerDirection="root">
        <ion-label>VLSM</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="fondocomun">
  <!-- Default Segment -->

  <!-- <ion-card class="fondoblanco mysize2" *ngIf="!myvalor[0]">
    <img src="../../assets/internet.jpg" />
  </ion-card> -->

  <ion-card class="fondoblanco" *ngIf="!myvalor[0]">
    <ion-item>
      <ion-badge slot="end" (click)="toastIp()" color="primary">
        <ion-icon name="help"></ion-icon
      ></ion-badge>
      <ion-label position="stacked"> DIRECCION IP: </ion-label>
      <ion-input
        placeholder="xxx.xxx.xxx.xx"
        required
        color="primary"
        type="string"
        (ionChange)="getIpNetmask()"
        clearInput
        [(ngModel)]="ipAdress"
        pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
      ></ion-input>
    </ion-item>
    <ion-label *ngIf="ipvalida" color="danger"
      >Dirección IP no válida</ion-label
    >
    <ion-item>
      <ion-badge slot="end" (click)="toastRed()" color="primary">
        <ion-icon name="help"></ion-icon>
      </ion-badge>

      <ion-label position="stacked"> TIPO DE RED: </ion-label>
      <ion-input
        required
        readonly
        type="string"
        color="primary"
        clearInput
        [(ngModel)]="tipo"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-badge slot="end" (click)="toastNetInicio()" color="primary">
        <ion-icon name="help"></ion-icon>
      </ion-badge>
      <ion-label position="stacked"> MÁSCARA INICIAL (ejem: 24): </ion-label>
      <ion-input
        required
        readonly
        type="number"
        color="primary"
        clearInput
        [(ngModel)]="firstNetmask"
        step="1"
        max="30"
      ></ion-input>
    </ion-item>
  </ion-card>
  <ion-card class="fondoblanco" *ngIf="!myvalor[0]">
    <ion-item>
      <ion-label position="stacked">OPCIONES DE CALCULO :</ion-label>
      <ion-card-content>
        <ion-radio-group (ionChange)="cambio($event)">
          <ion-item>
            <ion-label>Subredes</ion-label>
            <ion-radio slot="start" value="1" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Máscara Final</ion-label>
            <ion-radio slot="start" value="0"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-item>
  </ion-card>
  <ion-card class="fondoblanco" *ngIf="!myvalor[0]">
    <ion-item *ngIf="sb">
      <ion-badge slot="end" (click)="toastNetFin()" color="primary">
        <ion-icon name="help"></ion-icon>
      </ion-badge>
      <ion-label position="stacked"> SUBREDES A CALCULAR: </ion-label>
      <ion-select placeholder="Seleccione uno" [(ngModel)]="subnettingNumber">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="16">16</ion-select-option>
        <ion-select-option value="32">32</ion-select-option>
        <ion-select-option value="64">64</ion-select-option>
        <ion-select-option value="128">128</ion-select-option>
        <ion-select-option value="256">256</ion-select-option>
        <ion-select-option value="512">512</ion-select-option>
        <ion-select-option value="1024">1024</ion-select-option>
        <ion-select-option value="2048">2048</ion-select-option>
        <ion-select-option value="4096">4096</ion-select-option>
        <ion-select-option value="8192">8192</ion-select-option>
        <ion-select-option value="16384">16384</ion-select-option>
      </ion-select>
      <!-- <ion-input
        required
       placeholder="999"
        type="number"
        color="primary"
        clearInput
        [(ngModel)]="subnettingNumber"
        step="1"
        max="999"
        [min]="0"
      ></ion-input> -->
    </ion-item>

    <ion-item *ngIf="mf">
      <ion-badge slot="end" (click)="toastNetFin()" color="primary">
        <ion-icon name="help"></ion-icon>
      </ion-badge>
      <ion-label position="stacked"> MÁSCARA FINAL (ejem:30) </ion-label>
      <ion-input
        required
        (ionChange)="validaNetmask()"
        type="number"
        color="primary"
        clearInput
        [(ngModel)]="finalNetmask"
        step="1"
        max="30"
        [min]="firstNetmask"
      ></ion-input>
    </ion-item>
    <ion-label *ngIf="finvalida" color="danger"
      >Mascara no válida, debe ser mayor a {{firstNetmask}}</ion-label
    >
  </ion-card>

  <ion-card class="fondoblanco" *ngIf="myvalor[0]">
    <ion-card-content class="sinborde" *ngFor="let item of myvalor">
      <ion-item>
        <ion-label color="warning" class="ion-text-justify">
          NUMERO:
        </ion-label>
        <ion-label> {{item[0]}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary" class="ion-text-justify">
          Network:
        </ion-label>
        <ion-label> {{item[1]}} / {{finalNetmask}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary" class="ion-text-justify">
          Host Mínimo
        </ion-label>
        <ion-label> {{item[2]}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary" class="ion-text-justify">
          Host Máximo
        </ion-label>
        <ion-label> {{item[3]}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary" class="ion-text-justify">
          Broadcast
        </ion-label>
        <ion-label> {{item[4]}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary" class="ion-text-justify">
          Hosts/Net
        </ion-label>
        <ion-label> {{item[5]}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="!myvalor[0]">
     <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-button
            (click)="Calcular()"
            shape="round"
            fill="outline"
            expand="full"
            class="fondoboton"
          >
            <ion-icon src=" ..\..\..\assets\icon\calculator-outline.svg"></ion-icon>
            CALCULAR</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button
            (click)="Limpiar()"
            shape="round"
            fill="outline"
            expand="full"
            color="danger"
          >
            <ion-icon name="trash"></ion-icon>
            BORRAR</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar *ngIf="myvalor[0]">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-button
            (click)="Limpiar()"
            shape="round"
            fill="outline"
            expand="full"
            color="danger"
          >
            <ion-icon name="trash"></ion-icon>
            LIMPIAR</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
