body {
  font-family: "Roboto Condensed", sans-serif;
}

.help-tip {
  position: absolute;
  top: 5px;
  right: 18px;
  text-align: center;
  background-color: #bcdbea;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before {
  content: "?";
  font-weight: bold;
  color: #fff;
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1e2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1e2021;
  right: 10px;
  top: -12px;
}

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* DEMO-SPECIFIC STYLES */
.typewrite {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 4.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.tarjeta_fondo {
  background: #ffffff;
  color: #ffffff;
  background-color: #ffffff;
  --ion-background-color: #ffffff;
}

.tarjeta_fondo {
  background: #ffffff;
  color: #ffffff;
  background-color: #ffffff;
  --ion-background-color: #ffffff;
}

ion-card {
  position: relative;
  text-align: center;
}
.mysize {
  height: 65%;
}
.mysize2 {
  height: 30%;
}
ion-badge {
  position: relative;
  text-align: center;
  height: 50%;
  width: 10%;
}
.card-title {
  position: absolute;
  top: 36%;
  font-size: 2em;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
}
.card-subtitle {
  font-size: 1em;
  position: absolute;
  top: 54%;
  width: 100%;
  color: #e9e9e9;
}
